@tailwind base;
@tailwind components;
@tailwind utilities;

.text-outline {
	color: hsl(var(--light));
	text-shadow: -1px -1px 0 hsl(var(--dark)), 1px -1px 0 hsl(var(--dark)),
		-1px 1px 0 hsl(var(--dark)), 1px 1px 0 hsl(var(--dark));
}

.header-cell {
	background-color: hsl(15, 44%, 80%);
}

@layer base {
	:root {
		--dark: 152 100% 3%;
		--light: 180 16% 98%;
	}

	img + ul {
		@apply px-4 py-4 border border-stone-400 rounded-2xl;
	}

	.prose-custom {
		@apply prose prose-headings:text-dark prose-strong:text-dark prose-em:text-stone-600 prose-p:text-stone-600 prose-a:text-dark prose-a:decoration-red prose-a:decoration-4 hover:prose-a:text-red prose-li:marker:text-stone-400;
	}
}
