@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'Padauk';
		src: url('/fonts/Padauk-Regular.ttf') format('ttf');
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}
	@font-face {
		font-family: 'Padauk';
		src: url('/fonts/Padauk-Bold.ttf') format('ttf');
		font-weight: bold;
		font-style: normal;
		font-display: swap;
	}
	img + ul {
		@apply px-4 py-4 border border-stone-400 rounded-2xl;
	}

	.prose-custom {
		@apply prose prose-headings:text-dod-week1-burgundy prose-strong:text-dod-week1-burgundy prose-em:text-stone-600 prose-p:text-stone-600 prose-a:text-dod-week1-burgundy prose-a:decoration-dod-week1-red prose-a:decoration-4 hover:prose-a:text-dod-week1-red prose-li:marker:text-stone-400;
	}
}
