@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'Padauk';
		src: url('/fonts/Padauk-Regular.ttf') format('ttf');
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}
	@font-face {
		font-family: 'Padauk';
		src: url('/fonts/Padauk-Bold.ttf') format('ttf');
		font-weight: bold;
		font-style: normal;
		font-display: swap;
	}
	ul {
		@apply px-4 border border-stone-600;
	}
}
