---
import BlogPost from '@components/BlogPost.astro'
import '../styles/global.css'

const posts = await Astro.glob('../pages/posts/100dod/*.md')
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<title>Bowl of Letters</title>
	</head>
	<body
		class="grid place-content-center px-4 font-sans text-stone-600 bg-amber-50"
	>
		<h1 class="text-4xl mt-16 mb-2 border-b border-b-stone-600 ">
			100 Days of Design
		</h1>
		<main>
			{posts.map(({ frontmatter, file, Content }) => (
				<BlogPost
					title={frontmatter.title}
					file={file}
					imgAlt={frontmatter.imgAlt}
				>
					<Content />
				</BlogPost>
			))}
		</main>
		<footer
			class="fixed left-0 bottom-0  w-full flex items-end bg-inherit px-8 pb-4 pt-2"
		>
			<address class="w-full flex justify-end gap-4">
				<span>Tom Szwaja</span>
				<a href="_blank">Twitter</a>
			</address>
		</footer>
		<style>
			ul {
				border: 1px solid black;
			}
		</style>
	</body>
</html>
