---
import BlogPost from '@components/BlogPost.astro'
import '../styles/global.css'

const posts = await Astro.glob('../pages/posts/100dod/*.md')
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<title>Bowl of Letters</title>
	</head>
	<body
		class="grid place-content-center font-sans text-stone-600 bg-amber-50"
	>
		<main class="px-4 pb-10">
			<h1 class="text-4xl mt-16 mb-2 border-b border-b-stone-600 ">
				100 Days of Design
			</h1>
			{posts.map(({ frontmatter, file, Content }) => (
				<BlogPost
					title={frontmatter.title}
					file={file}
					imgAlt={frontmatter.imgAlt}
					date={frontmatter.date}
				>
					<Content />
				</BlogPost>
			))}
		</main>
		<footer class="w-full text-amber-50 bg-emerald-900 px-8 pb-8 pt-6">
			<address class="prose-lg w-full flex items-end gap-4">
				<span>Created by Tom Szwaja</span>
				<a href="https://twitter.com/TomSzwa" class="ml-auto underline">
					<span>Say hey on Twitter</span>
				</a>
			</address>
		</footer>
		<style>
			ul {
				border: 1px solid black;
			}
		</style>
	</body>
</html>
