---
import BlogPost from '@/components/BlogPost.astro'
import { Frontmatter } from '@/types'
import { sortByDate } from '@/utils'

import '../styles/global.css'

const posts = await Astro.glob<Frontmatter>('../pages/posts/100dod/*.md')
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<title>tom's blobs</title>
	</head>
	<body
		class="grid place-content-center font-sans text-stone-600 bg-dod-week1-babypowder"
	>
		<main
			class="mt-16 px-4 pb-24 prose-custom prose-xl lg:prose-2xl prose-stone"
		>
			<h1 class="mb-2  border-b border-b-stone-600 ">
				100 Days of Design
			</h1>
			{sortByDate(posts).map(({ frontmatter, file, Content }) => (
				<BlogPost
					title={frontmatter.title}
					file={file}
					imgAlt={frontmatter.imgAlt}
					date={frontmatter.date}
				>
					<Content />
				</BlogPost>
			))}
		</main>
		<footer
			class="w-full flex flex-col gap-8 bg-dod-week1-burgundy px-8 pb-8 pt-6 prose-custom prose-xl lg:prose-2xl prose-stone"
		>
			<a
				href="https://www.100daysofx.com/"
				class=" text-dod-week1-babypowder"
			>
				Learn about the official #100DaysOfX thing
			</a>
			<div class="h-0 border border-b-dod-week1-babypowder"></div>
			<address class="flex flex-col-reverse items-end">
				<span class="text-stone-300">Created by Tom Szwaja</span>
				<a
					href="https://twitter.com/TomSzwa"
					class="text-dod-week1-babypowder"
				>
					Tweet with me
				</a>
			</address>
		</footer>
	</body>
</html>
