---
import BlogPost from '@components/BlogPost.astro'
import '../styles/global.css'

const posts = await Astro.glob('../pages/posts/100dod/*.md')
---

<head>
	<meta charset="UTF-8" />
</head>
<main>
	{posts.map(({ frontmatter, file, Content }) => (
		<BlogPost
			title={frontmatter.title}
			file={file}
			imgAlt={frontmatter.imgAlt}
		>
			<Content />
		</BlogPost>
	))}
</main>
