---
---

<footer
	class="w-full flex flex-col gap-8 px-8 mb-6 pb-8 pt-6 prose-custom prose-xl lg:prose-2xl prose-stone rounded-b-3xl bg-gradient-to-b from-amber-950 to-dark"
>
	<nav class="grid">
		<a class="text-light" href="/rss.xml"> RSS</a>
		<a class="text-light" href="/tags">See all tags</a>
	</nav>
	<div class="h-0 border border-b-light"></div>
	<address class="flex flex-col-reverse items-end">
		<a rel="me" href="https://twitter.com/TomSzwa" class="text-light">
			Tweet
		</a>
		<a
			rel="me"
			href="https://www.instagram.com/tom_mhmm/"
			class="text-light"
		>
			Insta
		</a>
		<a
			rel="me"
			href="mailto:unsubscribed3000@gmail.com?subject=hi&body=hey tom, let me tell you a story ..."
			class="text-light"
		>
			Email
		</a>
	</address>
</footer>
