---
import Header from '@/components/Header.astro'
import Footer from '@/components/Footer.astro'
import '../styles/global.css'

interface Props {
	pageTitle: string
	description?: string
}

const { description, pageTitle }: Props = Astro.props
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<title>{pageTitle}</title>
		{description && <meta name="description" content={description} />}
	</head>
	<body
		class="grid place-content-center gap-4 font-sans text-stone-600 bg-light"
	>
		<Header />
		<main
			class="w-screen overflow-x-hidden px-4 prose-custom prose-md lg:prose-xl md:prose-lg prose-stone"
		>
			<slot />
		</main>
		<slot name="nav" />
		<Footer />
	</body>
</html>
