---
export interface Props {
	title: string
	description: string
}

const { description, title }: Props = Astro.props

import Header from '@/components/Header.astro'
import '../styles/global.css'
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<title>{title}</title>
		<meta name="description" content={description} />
	</head>
	<body
		class="grid place-content-center gap-12 font-sans text-stone-600 bg-light"
	>
		<Header />
		<slot />
		<footer
			class="w-full flex flex-col gap-8 bg-dark px-8 pb-8 pt-6 prose-custom prose-xl lg:prose-2xl prose-stone"
		>
			<a href="https://www.100daysofx.com/" class=" text-light">
				Learn about the #100DaysOfX thing
			</a>
			<div class="h-0 border border-b-light"></div>
			<address class="flex flex-col-reverse items-end">
				<a
					rel="me"
					href="https://uiuxdev.social/@toms"
					class="text-light"
				>
					Toot with me
				</a>
			</address>
		</footer>
	</body>
</html>
